<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.obsidian-dayflow</string>

  <!-- EDIT: full path to node (output of `which node`) -->
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Users/YOU/code/obsidian-dayflow/src/index.js</string>
    <string>--days</string>
    <string>3</string>
    <string>--output</string>
    <string>/Users/YOU/Documents/MyVault/Dayflow</string>
  </array>

  <!-- 05:05 AM daily, after Dayflow's 4 AM day boundary -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>5</integer>
    <key>Minute</key><integer>5</integer>
  </dict>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/tmp/obsidian-dayflow.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/obsidian-dayflow.error.log</string>
</dict>
</plist>
